%hover {
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0.1em;
    background-color: $fontColorSecondary;
    transition: width 0.1s ease-in;
  }
  &:hover {
    &:before {
      width: 100%;
    }
  }

  &--secondary {
    transition: all ease-in-out 0.4s;
    &:hover {
      transition: all ease-in-out 0.4s;
      scale: 1.1;
    }
  }
}

%maxWidth {
  width: min(100% - 3rem, 60rem);
}
